*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /* border: 1px solid #000; */
}

span{
  background: linear-gradient(20deg, #057d39 0%, #0116ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
